#!/bin/bash

brew install git
brew install wget
brew install tmux
brew install tree
brew install mise
brew install mv2trash
brew install openssl
brew install readline
brew install zsh-git-prompt
brew install zsh-completions
brew install --cask font-hack-nerd-font
